@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --foreground: #ffffff;
  --background: #171717;
  --color-primary: #ff0000;
  scrollbar-width: none !important;
}

body {
  background: var(--background);
  scrollbar-width: none !important;
}
button {
  cursor: pointer;
}

@keyframes slide {
  to {
    transform: translateX(-100%);
  }
}

.slide {
  animation: slide 20s linear infinite forwards;
}
