@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --foreground: #ffffff;
  --background: #171717;
  --color-primary: #ff0000;
}

body {
  background: var(--background);
}
button {
  cursor: pointer;
}

@layer utilities {
}
